
[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=test_user
Group=test_user
WorkingDirectory=/home/test_user/LoverGwenBot/
Environment="PYTHONPATH=/home/test_user/LoverGwenBot/"
ExecStart=/home/test_user/LoverGwen/.venv/bin/python /home/test_user/LoverGwen/main.py

[Install]
WantedBy=multi-user.target